[user]
    name = Paul Kirth
    email = pk1574@gmail.com
[diff]
    tool = meld
[difftool]
    prompt = false
;[difftool "meld"]
    ;trustExitCode = true
    ;cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
[merge]
    tool = meld
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
;[mergetool "meld"]
    ;trustExitCode = true
    ;cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[push]
    default = simple
[color]
	ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    grep = auto
;[core]
    ;pager = less -R
;[core]
    ;pager = diff-so-fancy | less --tabs=4 -FXRi

;[color "diff-highlight"]
	;oldNormal = red bold
	;oldHighlight = red bold 52
	;newNormal = green bold
	;newHighlight = green bold 22
;[color "diff"]
	;meta = yellow
	;frag = magenta bold
	;commit = yellow bold
	;old = red bold
	;new = green bold
	;whitespace = red reverse
