[user]
    name = Paul Kirth
    email = pk1574@gmail.com
[diff]
    tool = meld
[difftool]
    prompt = false
;[difftool "meld"]
    ;trustExitCode = true
    ;cmd = open -W -a Meld --args \"$LOCAL\" \"$PWD/$REMOTE\"
;[merge]
    ;tool = meld
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
;[mergetool "meld"]
    ;trustExitCode = true
    ;cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[push]
    default = simple

[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "status"]
  header = black bold
  branch = cyan
  nobranch = red
  unmerged = red
  untracked = cyan
  added = green
  changed = red bold
[color "diff"]
  meta = red bold
  frag = blue bold
  func = blue
  old = red strike
  new = green
  commit = blue
  whitespace = red
  context = normal
[color "branch"]
  current = cyan
  local = blue
  remote = magenta
  upstream = magenta
  plain = normal
[color "decorate"]
  branch = blue
  remoteBranch = magenta
  tag = magenta
  stash = cyan
  HEAD = blue
[color "interactive"]
  prompt = red
  header = red bold
  error = red
  help = black bold
[color "grep"]
  context = normal
  match = cyan
  filename = blue
  function = blue
  selected = normal
  separator = red bold
  linenumber = normal





;[branch]
    ;autosetuprebase = always

;[core]
    ;pager = less -R

[core]
    pager = diff-so-fancy | less --tabs=4 -FXRi

[color "diff-highlight"]
    oldNormal = red strike
    oldHighlight = red strike 52
    newNormal = green bold
    newHighlight = green bold 22

;[color "diff"]
    ;meta = yellow
    ;frag = magenta bold
    ;commit = yellow bold
    ;old = red bold
    ;new = green bold
    ;whitespace = red reverse
