[global_config]
  title_transmit_fg_color = "#c5d4dd"
  title_transmit_bg_color = "#3c4c55"
  title_inactive_fg_color = "#c5d4dd"
  title_inactive_bg_color = "#899ba6"

[profiles]
  [[default]]
    palette = "#3c4c55:#df8c8c:#a8ce93:#dada93:#83afe5:#9a93e1:#7fc1ca:#c5d4dd:#899ba6:#f2c38f:#a8ce93:#dada93:#83afe5:#d18ec2:#7fc1ca:#e6eef3"
    foreground_color = "#c5d4dd"
    background_color = "#3c4c55"
    cursor_color = "#c5d4dd"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
